@model  BlueprintMediaServis.Models.Magazines

@{
    ViewBag.Title = "UpdateMagazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">

    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

</script>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="~/blueprintmediaservis.css">

</head>
<body class="fixed-header">
    <div class="page-container">
        <div class="page-content-wrapper ">
            <!-- START PAGE CONTENT -->
            <div class="content ">

                <!-- dergi güncelleme popup -->
                @using (Html.BeginForm("Update", "Magazine", FormMethod.Post, new { enctype = "multipart/form-data", }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => Model.id)


                    <div class="container" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="row" role="document">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h5 class="modal-title" id="exampleModalLongTitle">@BlueprintMediaServis.Resource.Language.edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="panel-body">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">

                                        <div class="input-group col-xs-12">
                                            <input type="file" id="pdf" name="pdf" class="file">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                            @Html.TextBoxFor(model => Model.pdfName, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName", @Value = ViewData["pdfName"] })

                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" id="image" name="image" class="file">
                                        <div class="input-group col-xs-12">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                            @Html.TextBoxFor(model => Model.imageName, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName", @Value = ViewData["imageName"] })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>

                                        <!--  <input type="file" id="pdf" name="pdf" /> pdf
                                          <input type="file" id="image" name="image" />image-->



                                    </div>


                                    <div class="form-group">
                                        <div class="input-group col-xs-12">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            @Html.TextBoxFor(model => Model.title, htmlAttributes: new { @class = "form-control input lg", @Name = "title", @Value = ViewData["ttle"] })
                                        </div>
                                    </div>

                                </div>


                                <div class="panel-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@BlueprintMediaServis.Resource.Language.close</button>
                                    <button type="submit" class="btn btn-primary">@BlueprintMediaServis.Resource.Language.save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div></div></div></body>