@model  Tuple<BlueprintMediaServis.Models.MagazinesContent, IEnumerable<SelectListItem>,IEnumerable< BlueprintMediaServis.Models.MagazinesContent>>

@{
    ViewBag.Title = "UpdateMagazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

    function SetPageAttributes()
    {
        var categoryDropDownListValue = @Html.Raw(Json.Encode(ViewData["category"]));

        var pdfname_tr = @Html.Raw(Json.Encode(Model.Item3.First().pdfName_tr));
        var pdfname_en = @Html.Raw(Json.Encode(Model.Item3.First().pdfName_en));
        var pdfname_ru = @Html.Raw(Json.Encode(Model.Item3.First().pdfName_ru));

        var imagename_tr = @Html.Raw(Json.Encode(Model.Item3.First().imageName_tr));
        var imagename_en = @Html.Raw(Json.Encode(Model.Item3.First().imageName_en));
        var imagename_ru = @Html.Raw(Json.Encode(Model.Item3.First().imageName_ru));

        var title_tr = @Html.Raw(Json.Encode(Model.Item3.First().title_tr));
        var title_en = @Html.Raw(Json.Encode(Model.Item3.First().title_en));
        var title_ru = @Html.Raw(Json.Encode(Model.Item3.First().title_ru));

        $("#pdfName_tr").val(pdfname_tr);
        $("#pdfName_en").val(pdfname_tr);
        $("#pdfName_ru").val(pdfname_tr);

        $("#imageName_tr").val(imagename_tr);
        $("#imageName_en").val(imagename_en);
        $("#imageName_ru").val(imagename_ru);

        $("#title_tr").val(title_tr);
        $("#title_en").val(title_en);
        $("#title_ru").val(title_ru);


        $("#categoryId").val(categoryDropDownListValue);
    }
    window.onload = SetPageAttributes;

</script>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="~/blueprintmediaservis.css">

</head>
<body class="fixed-header">
    <div class="page-container">
        <div class="page-content-wrapper ">
            <!-- START PAGE CONTENT -->
            <div class="content ">

                <!-- dergi güncelleme popup -->
                @using (Html.BeginForm("Update", "UpdateMagazine", FormMethod.Post, new { enctype = "multipart/form-data", }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => Model.Item3.First().id)                  

                    <div class="panel">
                        <div class="panel-heading">
                            @if (ViewBag.Status != null)
                            {
                                if (ViewBag.Status.ToString().Equals("success"))
                                {
                                    <div class="alert alert-success" role="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        <strong>İşlem Başarılı: </strong>Dergi güncellendi.
                                    </div>
                                }                               
                            }
                            <h5 class="modal-title" id="exampleModalLongTitle">@BlueprintMediaServis.Resource.Language.edit</h5>

                        </div>
                        <div class="panel-body">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1" data-toggle="tab">Türkçe</a>
                                </li>
                                <li>
                                    <a href="#tab_2" data-toggle="tab">İngilizce</a>
                                </li>
                                <li>
                                    <a href="#tab_3" data-toggle="tab">Rusça</a>
                                </li>
                                @Html.DropDownListFor(Model => Model.Item1.categoryId, Model.Item2,"Kategori Seçiniz",htmlAttributes: new { @class = "btn btn-primary btn-lg dropdown dropdown-toggle", @Name = "categoryId", @Id = "categoryId" })
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane fade active in" id="tab_1">

                                    <div class="form-group">
                                        <div class="input-group col-xs-3">
                                            <input type="file" id="pdf_tr" name="pdf_tr" class="file">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.pdfName_tr, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName_tr", @Id = "pdfName_tr" })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" id="image_tr" name="image_tr" class="file">
                                        <div class="input-group col-xs-3">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.imageName_tr, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName_tr", @Id = "imageName_tr" })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group col-xs-3">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.title_tr, htmlAttributes: new { @class = "form-control input lg", @Name = "title_tr", @Id = "title_tr" })
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab_2">

                                    <div class="form-group">
                                        <div class="input-group col-xs-3">
                                            <input type="file" id="pdf_en" name="pdf_en" class="file">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.pdfName_en, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName_en", @Id = "pdfName_en" })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" id="image_en" name="image_en" class="file">
                                        <div class="input-group col-xs-3">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.imageName_en, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName_en", @Id = "imageName_en" })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group col-xs-3">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.title_en, htmlAttributes: new { @class = "form-control input lg", @Name = "title_en", @Id = "title_en" })
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="tab_3">

                                    <div class="form-group">
                                        <div class="input-group col-xs-3">
                                            <input type="file" id="pdf_ru" name="pdf_ru" class="file">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.pdfName_ru, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName_ru", @Id = "pdfName_ru" })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" id="image_ru" name="image_ru" class="file">
                                        <div class="input-group col-xs-3">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.imageName_ru, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName_ru", @Id = "imageName_ru" })
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group col-xs-3">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            @Html.TextBoxFor(Model => Model.Item1.title_ru, htmlAttributes: new { @class = "form-control input lg", @Name = "title_ru", @Id = "title_ru" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            @Html.ActionLink("Kapat", "Index", "Magazine",new object {},new {@class= "btn btn-secondary" })
                            
                            <button type="submit" class="btn btn-complete">@BlueprintMediaServis.Resource.Language.save</button>
                        </div>
                    </div>
                }
            </div>


        </div>
    </div>
</body>