@model Tuple<BlueprintMediaServis.Models.Menu, IEnumerable<BlueprintMediaServis.Models.Menu>>

@{
    ViewBag.Title = "MenuPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function SetPageAttributes()
    {
        var textBoxValue = @Html.Raw(Json.Encode(Model.Item2.First().name));
        var dropDownListValue = @Html.Raw(Json.Encode(Model.Item2.First().language));
        var textAreaValue = @Html.Raw(Json.Encode(Model.Item2.First().content));

        $("#nameTextBox1").val(textBoxValue);
        $("#languageDropDownList1").val(dropDownListValue);
        $("#ContentTextBox2").val(textAreaValue);

}
    window.onload = SetPageAttributes;

</script>


<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="~/blueprintmediaservis.css">

</head>
<body class="fixed-header">
    <div class="page-container container-fixed-lg">
        <div class="page-content-wrapper ">
            <!-- START PAGE CONTENT -->
            <div class="content ">
                
                @using (Html.BeginForm("Update", "MenuPage", FormMethod.Post, new { enctype = "multipart/form-data", }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model=>Model.Item2.First().id)
                    <div class="card card-transparent">
                        <div class="card-block">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Başlık</label>
                                        @Html.TextBoxFor(model => Model.Item1.name, htmlAttributes: new { @id = "nameTextBox1", @class = "form-control input lg", @Name = "name", })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Dil</label>
                                        @Html.DropDownListFor(Model => Model.Item1.language, new SelectList(new List<Object>{
                                                                                      new { value = "Türkçe" , text = "Türkçe"  },
                                                                                      new { value = "İngilizce"   , text = "İngilizce" },
                                                                                      new { value = "Rusça" , text = "Rusça"}}, "value", "text", Model.Item1.language
                                                                                      ), htmlAttributes: new { @class = "form-control input lg", @Name = "language", @id="languageDropDownList1" })

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default input-group">
                                        <div class="form-input-group">
                                            <label>İçerik</label>
                                            @Html.TextAreaFor(model => Model.Item1.content, htmlAttributes: new { @id = "ContentTextBox2", @class = "form-control input lg", @Name = "content", rows = "20", cols = "180" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        @Html.ActionLink("Kapat", "Index", "PagesList", new object { }, new { @class = "btn btn-secondary" })
                        <button type="submit" class="btn btn-primary">Güncelle</button>                        

                    </div>
                }



            </div>
        </div>
    </div>
</body>







