
@model Tuple<BlueprintMediaServis.Models.Magazines, IEnumerable<BlueprintMediaServis.Models.Magazines>, BlueprintMediaServis.Models.MagazinesContent, IEnumerable<SelectListItem>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

    $(document).ready(function () {
        $('#tabs').tabs();
    });
</script>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="~/blueprintmediaservis.css">

</head>

<body class="fixed-header">
    <div class="page-container">
        <div class="page-content-wrapper ">
            <!-- START PAGE CONTENT -->
            <div class="content ">

                <div class="card card-transparent">
                    <div class="card-header ">
                        @if (ViewBag.Status != null)
                        {
                            if (ViewBag.Status.ToString().Equals("missing"))
                            {
                                <div class="alert alert-warning" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>Uyarı: </strong>Eksik İçerik tespit edildi. Lütfen dergi güncelleme sayfasından ekleyiniz.
                                </div>
                            }
                            else if (ViewBag.Status.ToString().Equals("success"))
                            {
                                <div class="alert alert-success" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>İşlem Başarılı: </strong>Dergi eklendi.
                                </div>
                            }
                            else if (ViewBag.Status.ToString().Equals("failed"))
                            {
                                <div class="alert alert-danger" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>Hata: </strong>Birden fazla eksik içerik tespit edildi. Lütfen tekrar deneyin.
                                </div>
                            }
                            else if (ViewBag.Status.ToString().Equals("deleted"))
                            {
                                <div class="alert alert-success" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>İşlem Başarılı: </strong>Dergi silindi.
                                </div>
                            }                          
                            else if (ViewBag.Status.ToString().Equals("itemNotFound"))
                            {
                                <div class="alert alert-warning" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>Uyarı: </strong>Dergi bulunamadı.
                                </div>
                            }
                        }

                        <div class="card-title">
                            Dergiler
                        </div>
                        <a href="#addMagazinePopup" class="btn btn-primary pull-right" data-toggle="modal">Dergi Ekle</a>

                        <div class="tools">
                            <a class="collapse" href="javascript:;"></a>
                            <a class="config" data-toggle="modal" href="#grid-config"></a>
                            <a class="reload" href="javascript:;"></a>
                            <a class="remove" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed" id="condensedTable">
                                <thead>
                                    <tr>

                                        <th style="width:10%">Id</th>
                                        <th style="width:30%">Kategori</th>
                                        <th style="width:30%">Başlık</th>
                                        <th style="width:30%">Eylemler</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Item2)
                                    {
                                        <tr>
                                            <td class="v-align-middle semi-bold">@item.id</td>

                                            @foreach (var itemcont in item.MagazinesContent)
                                            {
                                                <td class="v-align-middle semi-bold">@itemcont.MagazineCategory.text</td>
                                                <td class="v-align-middle semi-bold">@itemcont.title_tr</td>

                                                <!--<td class="v-align-middle semi-bold">item.language1</td>
                                                  <td class="v-align-middle"><img src="data:image;base64,System.Convert.ToBase64String(item.imageFile)" width="50" height="50" /></td>-->
                                                <td class="v-align-middle semi-bold">
                                                    @Html.ActionLink("Aç", "DisplayPDF", "Magazine", new { id = itemcont.id }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("Düzenle", "Display", "UpdateMagazine", new { id = itemcont.id }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("Sil", "Delete", "Magazine", new { id = itemcont.id }, new { @class = "btn btn-danger" })

                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>







<!-- dergi ekleme popup -->
@using (Html.BeginForm("Insert", "Magazine", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="addMagazinePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Dergi Ekle</h5>

                </div>
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab">Türkçe</a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab">İngilizce</a>
                        </li>
                        <li>
                            <a href="#tab_3" data-toggle="tab">Rusça</a>
                        </li>


                        @Html.DropDownListFor(Model => Model.Item3.categoryId, Model.Item4,"Kategori Seçiniz", htmlAttributes: new { @class = "btn btn-primary btn-lg dropdown dropdown-toggle pull-right", @Name = "categoryId" })
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane fade active in" id="tab_1">
                           
                            <div class="form-group">
                                <div class="input-group col-xs-9">
                                    <input type="file" id="pdf_tr" name="pdf_tr" class="file">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.pdfName_tr, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName_tr" })
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="file" id="image_tr" name="image_tr" class="file">
                                <div class="input-group col-xs-9">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.imageName_tr, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName_tr" })
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-xs-9">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.title_tr, htmlAttributes: new { @class = "form-control input lg", @Name = "title_tr" })
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab_2">
                            
                            <div class="form-group">
                                <div class="input-group col-xs-9">
                                    <input type="file" id="pdf_en" name="pdf_en" class="file">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.pdfName_en, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName_en" })
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="file" id="image_en" name="image_en" class="file">
                                <div class="input-group col-xs-9">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.imageName_en, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName_en" })
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-xs-9">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.title_en, htmlAttributes: new { @class = "form-control input lg", @Name = "title_en" })
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab_3">
                            
                            <div class="form-group">
                                <div class="input-group col-xs-9">
                                    <input type="file" id="pdf_ru" name="pdf_ru" class="file">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.pdfName_ru, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName_ru" })
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="file" id="image_ru" name="image_ru" class="file">
                                <div class="input-group col-xs-9">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.imageName_ru, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName_ru" })
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-folder-open"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-xs-9">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.TextBoxFor(Model => Model.Item3.title_ru, htmlAttributes: new { @class = "form-control input lg", @Name = "title_ru" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@BlueprintMediaServis.Resource.Language.close</button>
                    <button type="submit" class="btn btn-complete" name="btnSave">@BlueprintMediaServis.Resource.Language.save</button>
                </div>
            </div>
        </div>
    </div>
}




