@model  BlueprintMediaServis.Models.Magazines

@{
    ViewBag.Title = "UpdateMagazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="Stylesheet" type="text/css" href="~/blueprintmediaservis.css">

<script type="text/javascript">

    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

</script>

<h2>UpdateMagazine</h2>

 <!-- dergi güncelleme popup -->
@using (Html.BeginForm("Update", "Magazine", FormMethod.Post, new { enctype = "multipart/form-data" ,}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.id)
    

    <div class="container" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="row" role="document">
            <div class="panel">
                <div class="panel-heading">
                    <h5 class="modal-title" id="exampleModalLongTitle">@BlueprintMediaServis.Resource.Language.edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="panel-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="input-group col-xs-12">
                            <input type="file" id="pdf" name="pdf" class="file">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            @Html.TextBoxFor(model => Model.pdfName, htmlAttributes: new { @class = "form-control input lg", @Name = "pdfName",@Value=ViewData["pdfName"]})

                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="file" id="image" name="image" class="file" >
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                            @Html.TextBoxFor(model => Model.imageName, htmlAttributes: new { @class = "form-control input lg", @Name = "imageName", @Value = ViewData["imageName"] })
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>

                        <!--  <input type="file" id="pdf" name="pdf" /> pdf
                          <input type="file" id="image" name="image" />image-->



                    </div>


                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            @Html.TextBoxFor(model => Model.title, htmlAttributes: new { @class = "form-control input lg", @Name = "title", @Value = ViewData["ttle"] })
                        </div>
                    </div>

                </div>


                <div class="panel-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@BlueprintMediaServis.Resource.Language.close</button>
                    <button type="submit" class="btn btn-primary">@BlueprintMediaServis.Resource.Language.save</button>
                </div>
            </div>
        </div>
    </div>
}